Data Jobs SQL Process

In [3]:
#from config import param_dic
# import python dependencies
import numpy as np
import os
import pandas as pd
import psycopg2
import psycopg2.extras as extras
from sqlalchemy import create_engine
import sys
import time

# print import status
print(f'Database configuration imported')
print(f'Python dependencies imported')

Database configuration imported
Python dependencies imported

In [4]:
# print import process message
print(f'Begin importing CSVs to dataframes...')

Begin importing CSVs to dataframes...

In [5]:
# read player_info csv to df
state_jobs_df = pd.read_csv('state_M2020_dl_filtered.csv')
state_jobs_df.head(5)

,AREA,AREA_TITLE,AREA_TYPE,PRIM_STATE,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,OCC_CODE,OCC_TITLE,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,15-0000,Computer and Mathematical Occupations,...,39.06,52.81,67.94,"43,120","58,550","81,250","109,850","141,320",NaN,NaN
1,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,15-1211,Computer Systems Analysts,...,42.57,55.11,67.29,"56,130","69,560","88,550","114,620","139,960",NaN,NaN
2,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,15-1212,Information Security Analysts,...,39.30,53.27,65.94,"44,000","59,740","81,750","110,790","137,160",NaN,NaN
3,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,15-1221,Computer and Information Research Scientists,...,58.93,69.41,82.08,"77,470","102,300","122,580","144,370","170,730",NaN,NaN
4,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,15-1231,Computer Network Support Specialists,...,28.64,35.31,44.06,"41,310","48,240","59,570","73,450","91,640",NaN,NaN

In [6]:
# print import process message
print(f'Begin importing CSVs to dataframes...')

Begin importing CSVs to dataframes...

In [7]:
# create connection function using psycops execute(), also print statuses
def connect(params):
    conn = None
    try:
        print(f'Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params)
        # create cursor to run query
        cur = conn.cursor()
        # return database version
        cur.execute('SELECT version();')
        # fetch one result
        record = cur.fetchone()
        print('You are connected to -', record)
        # close cursor
        cur.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print('Error while connecting to PostgreSQL database', error)
    # close connection
    finally:
        if (conn):
            cur.close()
            conn.rollback()
        return conn

In [8]:
# create connector for pandas.to_sql() method for loading data to database
engine = create_engine(f'postgresql://leanne:password@localhost:5432/jobs')

# print connector status
print(f'Database connector created')

Database connector created

In [9]:
# test database connection
conn = connect(param_dic)

# print partition from connection status
#print(f'-')

NameError: name 'param_dic' is not defined

In [ ]:
# create schema function with status print
def create_schema(sql_file):
    cursor = conn.cursor()
    try:
        print(f'Creating schema in database using {sql_file}...')
        cursor.execute(open(sql_file, 'r').read())
        print('Schema successfully created!')
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print('Error while creating schema in database', error)
        conn.rollback()
    # close cursor
    cursor.close()

In [ ]:
# run SQL file to create schema
create_schema('queries/create_schema.sql')

##Define Functions for ETL Loads

In [ ]:
# to sql function to use pandas to_sql function with status print
def to_sql(df, table):
    start = time.time()
    print(f'Staging {table}...')
    print(f'-')
    try:
        print(f'Loading {table} to the PostgreSQL database...')
        # use pd.to_sql() to set load details
        df.to_sql(
            table, 
            con = engine, 
            schema = 'public', 
            if_exists = 'append',
            index = False
        )
    except (Exception, psycopg2.DatabaseError) as error:
        print(f'Error: %s' % error)
        print(f'-')
        print(f'Load failed.')
        print(f'---')
        return 1
    end = time.time()
    seconds = round((end - start) % 60)
    minutes = round(((end - start) - seconds) / 60)
    print(f'Load successful!  Run Time: {minutes}min {seconds}sec')
    print(f'---')

In [ ]:
# load data function for reading dataframe, loading to sql database with status print
def load_data(conn, df, table):
    start = time.time()
    print(f'Staging {table}...')
    print(f'-')
    # create list of tupples from dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    # comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    # SQL query to execute insert
    query  = 'INSERT INTO %s(%s) VALUES %%s' % (table, cols)
    cursor = conn.cursor()
    try:# load df to sql db table (df, table)
        print(f'Loading {table} to the PostgreSQL database...')
        extras.execute_values(cursor, query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print(f'Error: %s' % error)
        print(f'-')
        print(f'Load failed.')
        print(f'---')
        conn.rollback()
        cursor.close()
        return 1
    print(f'---')
    cursor.close()

##Load Dataframe into PostgreSQL Database

In [ ]:
# print data load status message
print(f'-')
print(f'Begin loading dataframes to the PostgreSQL database.')
print(f'-')

In [ ]:
# load df to sql db table (df, table)
to_sql(state_jobs_df, 'state_M2020_dl_filtered')

In [ ]:
# print process completion message
print(f'-')
print(f'Completed loading dataframes to PostgreSQL database!')

In [ ]:
# close database connection
conn.close()

# print connection status
print(f'Connection to PostreSQL database is now closed')
print(f'-')